<!doctype html>
<html layout:decorate="~{global/layout}">

<head>

    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE" th:text="${@appConfig.siteName}"></title>

</head>
<body>

<header layout:fragment="header">
    <h1 th:text="|${@appConfig.siteName}|"></h1>

    <a href="/">홈</a>
    <a th:if="${@rq.admin}" href="/adm/">관리자 홈</a>
    <a href="/post/write">글 작성</a>
    <a th:if="${@rq.login}" href="/post/myList">내 글 리스트</a>
    <a th:if="${@rq.logout}"  href="/member/login">로그인</a>
    <a th:if="${@rq.logout}" href="/member/join">회원가입</a>
    <a th:if="${@rq.login}" href="/member/logout">로그아웃</a>
</header>

<form th:action="@{/list/{kw}(kw=${kw})}" method="get">
    <input type="text" name="kw" placeholder="검색어를 입력하세요">
    <button type="submit">검색</button>
</form>

</body>
</html>